*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    outline: none;
    font-family: "Roboto", "sans-serif";
}


/* estilos do titulo */
.conteudo-do-cabecalho {
    max-width: 100%;
    background-color: rgb(54, 139, 196);
    color: white;
    padding: 10px;
    padding-left: 20px;
    height: 80px;
    display: flex;
    flex-direction: row;
}

.conteudo-do-cabecalho h1 {
    margin-left: 15px;
    margin-top: 8px;
    font-size: 35px;
}

.conteudo-do-cabecalho img {
    height: 60px;
    width: 90px;
}

.botao-login {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    width: 100px;
    height: 40px;
    text-align: center;
    margin-top: 10px;
    margin-left: 55%;
    font-size: 16px;
}

.botao-login:hover {
    background-color: rgb(20, 89, 134);
    color: white;
    transition-duration: 0.6s;
}

/*estilos da barra de menu*/

.menu-principal {
    width: 100%;
    height: 50px;
    background-color: rgb(54, 139, 196);
    display: flex;
    justify-content: space-between;
}

.menu-principal nav {
    margin-top: 17px;
    margin-left: 20px;
}

.menu-principal nav a {
    padding: 13px;
    color: white;
    border-radius: 3px;
    text-decoration: none;
}

.menu-principal nav a:hover {
    background-color: rgb(20, 89, 134);
    transition-duration: 0.7s;
}

.barra-de-pesquisa {
   display: flex;
   flex-direction: row;
   margin-right: 60px;
   margin-top: 5px;
   gap: 10px;
}

.barra-de-pesquisa input {
    width: 250px;
    height: 30px;
    padding: 5px;
    border: none;
    border: 1px solid black;
    border-radius: 2px;    
}

.barra-de-pesquisa button {
    width: 80px;
    height: 30px;
    background-color: rgba(221, 213, 213, 0.897);
    border-radius: 2px;
    border: 1px solid black;
}

.barra-de-pesquisa button:hover {
    background-color: rgb(20, 89, 134);
    transition-duration: 0.7s;
    color: white;
    border: 1px solid white;
}

/* estilos da secao do slogan */

.slogan-section {
    margin-top: 60px;
    text-align: left;
}

h2 {
    margin-left: 60px;
    margin-bottom: 30px;
    color: rgb(54, 139, 196);
    font-weight: bold;
    font-size: 25px;
}

.conteudo-slogan {
    display: flex;
    width: 90%;
    margin-left: 60px;
    background-color: rgb(54, 139, 196);
    border-radius: 20px;
    align-self: center;
}

.onibus-slogan {   
    width: 50%;
    height: 400px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    filter: opacity(75%);
}

.pessoa-slogan {
    width: 50%;
    height: 400px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    filter: opacity(75%);
}

/* estilos dos destinos */

.destinos-section {
    margin-top: 60px;
}

.destinos {
    width: 90%;
    display: flex;
    flex-direction: row;
    margin-left: 60px;
    gap: 40px;
    margin-bottom: 30px;
}

.destino {
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #5884d63d;
    padding: 30px;
    gap: 20px;
    border-radius: 10px;
}

.destino label {
    width: 100%;
    padding: 10px;
    background-color: rgb(54, 139, 196);
    color: white;
    font-size: 18px;
    text-align: center;
    border-radius: 5px;
}

.destino img {
    height: 220px;
    width: 300px;
}

/* estilos da secao de passagens */

.passagens-section {
   margin-top: 60px;
}

.passagens {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin-left: 60px;
    gap: 40px;
    margin-bottom: 30px;
}

.passagem {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    background-color: #5884d63d;
    padding: 20px;
    gap: 20px;
    border-radius: 2px;
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.411);
}

.passagem img {
    height: 220px;
    width: 280px;
}

.passagem button {
    outline: none;
    border: none;
    width: 90%;
    height: 35px;
    background-color: rgb(54, 139, 196);
    color: white;
    border-radius: 5px;
    font-size: 18px;    
}

.passagem button:hover {
    background-color: rgb(20, 89, 134);
    transition-duration: 0.6s;
    border: solid 1px white;
}

.passagem ins {
    text-decoration: none;
}


/* estilos da secao de pontos de venda */
/* estilos da secao sobre */
/* estilos do rodape */